#this is needed because we are running https
ca "D:/cafile/cacert-2024-09-24.pem"

# This is needed because some bebal modules would fail the certificate check
strict-ssl false

registry "https://registry.npmmirror.com"